<!doctype html>
<html lang="pt-br">

@model ProjetoSisConBens.Models.Inventario

@{
    ViewData["Title"] = "Inventário.Apagar.";
}


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/333b0ca1b3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>SiCoBe\Inventários</title>

</head>




<body>

    <h4><strong>Confirma a exclusão desse Inventário?</strong></h4>
    <hr />
    <div>

        <dl class="row">
            <dt class="col-sm-2">
                <strong>
                    @Html.DisplayNameFor(model => model.InventarioDescricao)
                </strong>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InventarioDescricao)
            </dd>
            <dt class="col-sm-2">
                <strong>
                    @Html.DisplayNameFor(model => model.InventarioDatainicio)
                </strong>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InventarioDatainicio)
            </dd>
            <dt class="col-sm-2">
                <strong>
                    @Html.DisplayNameFor(model => model.InventarioDatatermino)
                </strong>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InventarioDatatermino)
            </dd>
            <dt class="col-sm-2">
                <strong>
                    @Html.DisplayNameFor(model => model.InventarioMemoria)
                </strong>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InventarioMemoria)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="InventarioId" />
            <strong>
                <input type="submit" value="Apagar" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </strong>
        </form>
    </div>


</body>

</html>