<!doctype html>
<html lang="pt-br">

@model ProjetoSisConBens.Models.Bem
@{
    ViewData["Title"] = "Bens.Detalhe.";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/333b0ca1b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js" />
    <title>SiCoBe\Bens</title>

</head>

<body>
    <h4><strong>Edição de Bens</strong></h4>
    <hr />
    <div class="container">

        <hr />
        <div class="row">
            <div class="col-sm-9">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.BemDescricao)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.BemDescricao)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.BemDataaquisicao)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.BemDataaquisicao)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.BemValoraquisicao)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.BemValoraquisicao)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.BemStatus)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.BemStatus)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.BemDatastatus)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.BemDatastatus)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Unidade)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Unidade.UnidadeAtividades)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Inventario)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Inventario.InventarioDescricao)
                    </dd>
                </dl>
            </div>
            <div class="col-sm-3">
                <dl>
                    <dt class="col">
                        @Html.DisplayNameFor(model => model.BemImagem)
                    </dt>
                    <dd class="col">
                        @Html.DisplayFor(model => model.BemImagem)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="form-group">
        <br />
        <strong>
            <a asp-action="Edit" asp-route-id="@Model?.BemId" class="btn btn-primary">Editar</a> |
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </strong>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }


</body>

</html>